/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reset*/

@font-face 
{
font-family: "PT-F5 Regular";
src: url("fonts/PT-F5-Regular.ttf");
src: url("fonts/PT-F5-Regular.woff") format("woff"),
url("fonts/PT-F5-Regular.otf") format("opentype");
}


:root {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: rgb(98, 111, 128);
    --color-background: #d1dbdf;
  /*  --font: "PT-F5 Regular", "Helvetica Neue Medium", Helvetica, Arial, sans-serif; */
    --font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --max-width: 960px;
    --body-size: 14px;
    --line-height-multiplier: 1.3;
    /* site title */
    --h1-size: calc(var(--body-size)*6);
    /* post title */
    --h2-size: calc(var(--body-size)*2);
    /* side links */
    --h3-size: calc(var(--body-size)*1.25);
    /* small titles */
    --h4-size: calc(var(--body-size)*.75);
    --spacing: calc(var(--body-size)*2);
    --border-width: 1px;
}

/*main css*/

/*text*/

html {
    background-color: var(--color-background);
}

html, body, p, a, h1, h2, h3, ul {
    font-family: var(--font);
    color: var(--color-primary);
    margin-bottom: calc(var(--spacing)*0.5);
    text-decoration: none;
    letter-spacing: calc(var(--spacing)*0.02);
}

a, a:hover, a:active, a.active {
    padding-bottom: calc(var(--spacing)*0.1);
    border-bottom: solid var(--color-primary) var(--border-width);
    display: inline;
}

body {
    font-size: var(--body-size);
    line-height: calc(var(--body-size)*var(--line-height-multiplier));
}

h1 {
    font-size: var(--h1-size);
    line-height: calc(var(--h1-size)*var(--line-height-multiplier));
}

h2 {
    font-size: var(--h2-size);
    line-height: calc(var(--h2-size)*var(--line-height-multiplier));
}
h3, #archive-container li {
    font-size: var(--h3-size);
    line-height: calc(var(--h3-size)*var(--line-height-multiplier));
}

h4 {
    font-size: var(--h4-size);
    line-height: calc(var(--h4-size)*var(--line-height-multiplier));
}

#nav-container h1, 
#nav-container h2, 
#nav-container h3,
#nav-container p
{
    color: var(--color-tertiary);
}

#archive-container li {
    margin-bottom: calc(var(--spacing)/2);
}

/*text*/

/*text weight*/
/*
html {
    font-weight: 300;
}
h1, h2 {
    font-weight: 500;
}
*/

h1, h4 {
    text-transform: uppercase;
}
/*text weight*/

/* images and video */
img, video {
    margin-bottom: calc(var(--spacing)*.5);
}


/*divs*/

#site-container {
    max-width: var(--max-width);
    margin: auto;
    margin-top: var(--h1-size);
    padding: var(--spacing);
}

#section-header {
    /* border-bottom: 1px solid black; */
    margin-bottom: calc(var(--spacing)*1);
}

video {
    width: 100%;
}

.container 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-color: var(--color-secondary);
    padding: var(--spacing);
    border-radius: 8px;
}

.left-minor, .left-major .right-minor, .right-major .center-content, .border {
    display: block;
    margin-bottom: calc(var(--spacing)*0);
}

.left-major, .right-major {
    width: calc(75% - (var(--spacing)*.5));
}

.left-minor, .right-minor {
    width: calc(25% - (var(--spacing)*.5));
}

/*divs*/